@media screen and (max-width:700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 15px;
        width: 200px;
        height:40px;
        min-width: 180px;
               
    }
    
}

@media screen and (min-width:1000px){
    .descricao{
        width:60%
    }
}

@media screen and (max-width: 700px){
    .filme-principal{
        width: 100%;
    }
}
    


